services:
  # 定义一个名为 'docker-image-cleaner' 的服务
  docker-image-cleaner:
    # 指示 Docker Compose 从当前目录下的 Dockerfile 构建镜像
    images: aierliz/docker-image-cleaner
    # 为容器指定一个固定的名称，方便管理
    container_name: docker-cleanup-scheduler
    # 设置容器的重启策略，始终重启
    restart: always
    # 挂载 Docker Socket，使容器能够与宿主机的 Docker Daemon 交互
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    # 设置环境变量，这些变量会被传递给容器内的脚本
    environment:
      # --- ⚠️ 替换为你的 Telegram Bot Token ---
      - BOT_TOKEN=xxxxx:AAHHiKVCk-xxxxxxxxx
      # --- ⚠️ 替换为你的 Telegram Chat ID ---
      - CHAT_ID=xxxxxxxx
      # --- 可选：覆盖脚本中默认的清理时长 (例如 "24h", "168h") ---
      # 如果不设置，脚本将使用其内部默认值 (例如 "72h")
      - DURATION=0h
      # --- 可选：覆盖 Dockerfile 中默认的 cron 表达式 (例如 "0 0 * * *" 每天午夜运行) ---
      # - CRON_SCHEDULE="0 0 * * *"
