services:
  docker-image-cleaner:
    images: aierliz/docker-image-cleaner
    container_name: docker-cleanup-scheduler
    restart: always
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      - BOT_TOKEN=xxxxx:AAHHiKVCk-xxxxxxxxx
      - CHAT_ID=xxxxxxxx
      - DURATION=0h
      - TZ=Asia/Shanghai
      # - CRON_SCHEDULE="0 0 * * *"
