name: Docker Image CI

on:
  push:
    tags:
      - 'v*' # 只在创建 vX.Y.Z 格式的 tag 时触发

env:
  DOCKER_IMAGE: ${{ secrets.DOCKER_USERNAME }}/docker-img-cleaner

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Login to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_TOKEN }}

    - name: Build and push Docker image
      uses: docker/build-push-action@v4
      with:
        context: .
        push: true
        tags: |
          ${{ env.DOCKER_IMAGE }}:latest
          ${{ env.DOCKER_IMAGE }}:${{ github.ref_name }}
